<div style="display:flex; width:250px; justify-content:space-between;">
    <div>
        <p>Date</p>
        <label for="da">&Delta;</label>
        <input type="radio" name="btn" value="Date Asc"  id="da" (click)="setSorting('da')">
        <label for="dd">&nabla;</label>
        <input type="radio" name="btn" value="Date Des"  id="dd" (click)="setSorting('dd')">
    </div>
    <div>
        <p>Name</p>
        <label for="na">&Delta;</label>
        <input type="radio" name="btn" value="Name Asc"  id="na" (click)="setSorting('na')">
        <label for="nd">&nabla;</label>
        <input type="radio" name="btn" value="Name Desc" id="nd" (click)="setSorting('nd')">
    </div>
</div>